<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <table class="table table-sm table-bordered table-hover">
                      <thead class="thead-dark">
                          <tr>
                              <th *ngFor="let col of columns">{{ col.name }}</th>
                          </tr>
                      </thead>
                      <tbody>
                            <tr *ngFor="let image of imagesList">
                                <td>{{ image.name }}</td>
                                <td>{{ image.author }}</td>
                                <td>{{ image.category }}</td>
                                <td>{{ image.order }}</td>
                                <td class="actions">
                                    <a title="show" (click)="onShow(image.id)"><i id="show" class="material-icons">search</i></a>
                                    <a title="edit" (click)="onEdit(image.id)"><i id="edit" class="material-icons">edit</i></a>
                                    <a title="deleted" (click)="deleted(image)"><i id="deleted" class="material-icons">clear</i></a>
                                </td>
                            </tr>
                      </tbody>
                  </table>
              </div>
              <div class="card-footer">
					<button class="btn btn-success" routerLink="new">Create Image</button>
              </div>
          </div>
      </div>
  </div>
</div>