$color-red: #ff0000;
$color-blue: #007bff;
$color-sky: #17a2b8;

:host {
    .actions {
        #deleted.material-icons {
            color: $color-red;
            cursor: pointer;
        }
        #show.material-icons {
            color: $color-blue;
            cursor: pointer;
        }
        #edit.material-icons {
            color: $color-sky;
            cursor: pointer;
        }
    }
}