$primary: #ff8800;
$secondary: #e64a19;
$bg-secondary: #19191c;
$bg-terciary: #27282d;
$bg-error: #f44336;
$text-primary: #ffffff;
$text-secondary: rgba(255, 255, 255, 0.2);
$text-dark-primary: #333;
$text-dark-secondary: rgba(0, 0, 0, 0.2);
//$gradient-primary: #202025;
//$gradient-secondary: rgba(32, 32, 37, 0.6);
$gradient-primary: #19191c;
$gradient-secondary: rgba(25, 25, 28, 0.6);
$card-bg-primary: rgba(103, 103, 115, 0.33);
$card-border: solid 1px rgba(255, 255, 255, 0.25);
// My Variables
$primary-bg: #F5F6FA;
$white-color:#ffffff;
$black-color:#000000;
$primary-brand-color:#D4488F;
$secondary-brand-color:#F5B93A;
$iconColor:#979797;
$font: #9797AA;
$titleSidebar:#B8B8B8;
$titleSection:#9B9B9B;