$phone: '(max-width : 1024px)';
$table: '(min-width : 720px) and (max-width : 1024px)';
$laptop: '(min-width : 1024px)  and (max-width : 1440px)';
$computer: '(min-width : 1440px)  and (max-width : 1920px)';