<div class="container">
    <div class="card mt-3">
		<div class="card-header">
			<button class="btn btn-warning" routerLink="/images">Back</button>
		</div>
		<div class="card-body">
			<div *ngIf="image" class="form-group">
				<div class="row">
					<div class="col-lg-4">
						<label for="author">Author:</label>
						<input type="text" class="form-control" value="{{ image.author }}" readonly>
					</div>
					<div class="col-lg-4">
						<label for="author">Category:</label>
						<input type="text" class="form-control" value="{{ image.category }}" readonly>
					</div>
					<div class="col-lg-4">
						<label for="author">Order:</label>
						<input type="text" class="form-control" value="{{ image.order }}" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<img class="card-img-top" src="{{ publicURL | async }}" alt="Card image cap">
		</div>
    </div>
</div>
