@import '../../../sass/colors.scss';
:host {
    .breadcrumb {
        display: flex;
        justify-content: space-between;
        h5 {
            font-size: 40px;
            color: $font;
            font-weight: 500;
            margin: 20px 30px 0px;
            color: $titleSection;
        }
    }
}