<div class="container">
  <div class="card mt-3">
    <div class="card-header">
        <button class="btn btn-warning" routerLink="/images">Back</button>
    </div>
    <div class="card-body">
      <form #uploadForm="ngForm">
        <!-- TO UPDATE -->
        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <input type="text" class="form-control" placeholder="Author" name="author" #name="ngModel" ngModel />
            </div>
            <div class="col-lg-3">
              <select name="category" #category="ngModel" class="form-control select" [(ngModel)]="categoryDefault">
                <option *ngFor="let category of categories" [ngValue]="category.name"> {{ category.name }} </option>
              </select>
            </div>
            <div class="col-lg-3">
              <input type="number" class="form-control" placeholder="Order" name="order" #order="ngModel" min="1" max="99" ngModel />
            </div>
          </div>
        </div>

        <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">

            <h3>Subir Nueva Imagen</h3>
        
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" (change)="startUpload($event.target.files, uploadForm)">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    o arrastra una imagen…
                  </span>
                </span>
              </label>
            </div>
          </div>



      </form>
    </div>
  </div>

  


  <div *ngIf="percentage | async as pct">

      <progress class="progress is-info" 
                [value]="pct" 
                max="100">        
      </progress>
    
      {{ pct | number }}%
    
    </div>
    
    
    <div *ngIf="snapshot | async as snap">
      {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 
    
      <div *ngIf="downloadURL | async as url">
        <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
      </div> 
    
      <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
      <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
      <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>
    
    </div>

</div>