<div class="wrapper-list">
    <div class="user-container">
        <div class="user-data-container">
            <div class="card-header">
                <div>
                    <h2>user.name</h2>
                </div>
                <div class="action-btn-container">
                    <button><i class="material-icons">settings</i></button>
                    <button><i class="material-icons">delete_outline</i></button>
                </div>
            </div>
            <div class="container-data">
                <div class="data-group">
                    <span><i class="material-icons">location_on</i>Dirección</span>
                    <p class="orange">user.direction</p>
                </div>
                <div class="data-group">
                    <span><i class="material-icons">contact_phone</i>Teléfono</span>
                    <p class="grey">user.phone</p>
                </div>
                <div class="data-group">
                    <span><i class="material-icons">mail</i>Email</span>
                    <p class="green">user.email</p>
                </div>
                <div class="data-group">
                    <div>
                        <span><i class="material-icons">verified_user</i>Producto</span>
                        <p class="blue">product.name</p>
                    </div>
                    <div>
                        <span><i class="material-icons">vpn_key</i>Licencia</span>
                        <p class="blue">product.license</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>