@import '../../../../sass/colors.scss';
:host {
    .wrapper-list {
        max-height: calc(100vh - 160px);
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .user-container {
        display: flex;
        background: #fff;
        width: 95%;
        margin: 20px auto;
        border-radius: 10px;
        border-top: 5px solid #fff;
        .user-data-container {
            width: 100%;
            display: grid;
            .card-header {
                display: flex;
                margin-left: 15px;
                justify-content: space-between;
                align-items: baseline;
                h2 {
                    font-size: 18px;
                    color: black;
                    font-weight: 500;
                    margin-top: 18px;
                }
                .action-btn-container {
                    display: flex;
                    outline: none;
                    button {
                        display: flex;
                        align-items: center;
                        border: none;
                        background: transparent;
                        margin-top: -12px;
                        margin-left: -10px;
                        i {
                            font-size: 20px;
                            margin-right: 3px;
                            color: $iconColor;
                        }
                        span {
                            font-size: 14px;
                            color: $font;
                        }
                    }
                }
            }
            .container-data {
                display: flex;
                display: grid;
                grid-template-columns: auto auto auto auto;
                margin-top: 20px;
                grid-gap: 10px;
                padding: 0 15px;
                .data-group {
                    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.03);
                    border-radius: 5px;
                    margin-bottom: 15px;
                    padding: 10px 8px 0;
                    span {
                        display: flex;
                        align-items: center;
                        color: $font;
                        font-size: 14px;
                        font-weight: 500;
                        i {
                            font-size: 20px;
                            margin-right: 5px;
                            color: $iconColor;
                        }
                    }
                    .orange {
                        color: rgb(255, 180, 58);
                    }
                    .grey {
                        color: rgb(103, 100, 111);
                    }
                    .green {
                        color: rgb(0, 219, 133);
                    }
                    .blue {
                        color: rgb(66, 139, 229);
                    }
                    p {
                        margin-left: 5px;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        display: flex;
                        justify-content: space-between;
                        &>div {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        &:hover {
            border-top: 5px solid $secondary-brand-color;
            box-shadow: 0 1px 25px rgba(0, 0, 0, 0.03);
        }
    }
}