@import '../../.././sass/colors.scss';
:host {
    header {
        font-weight: 300;
        display: flex;
        height: 80px;
        justify-content: space-between;
        .brand {
            display: flex;
            align-items: center;
            font-size: 20px;
            display: flex;
            width: 60%;
            img {
                width: 50px;
                height: 50px;
                margin: 20px 30px;
            }
            i {
                margin-left: 10px;
                font-size: 35px;
                color: $white-color;
                margin-top: 3px;
            }
        }
    }
    .actions {
        display: flex;
        justify-content: space-around;
        width: 40%;
        .finder {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            width: 100%;
            i {
                position: absolute;
                right: 200px;
                top: 19px;
                color: $black-color;
            }
            input {
                background: $primary-bg;
                border: none;
                height: 36px;
                border-radius: 26px;
                width: 100%;
                margin-right: 20px;
            }
             ::placeholder {
                color: #c7c7c7;
                opacity: 1;
                font-weight: 300;
                padding-left: 45px;
            }
        }
        .user-container {
            display: flex;
            align-items: center;
            width: 250px;
            justify-content: flex-end;
            margin-right: 10px;
            p {
                font-size: 15px;
                color: $white-color;
                margin-right: 10px;
            }
            i {
                font-size: 20px;
                color: $white-color;
                margin-top: 4px;
            }
        }
    }
}