<header>
    <div class="brand">
        <span>
            <a href="http://localhost:4200/#/dashboard">
                <img src="../../../assets/img/logo.png" alt="">
            </a>
        </span>
    </div>
    <div class="actions">
        <div class="finder">
            <input #input type="text" placeholder="Search for anything">
            <!-- <i class="material-icons">search</i> -->
        </div>
    </div>
</header>