<div class="sidebar">
    <div class="divider"></div>
    <div class="menu-container">
        <div *ngFor="let menu of sidebar.menu" class="item-menu" routerLinkActive='active'>
            <div class="item">
                <i class="material-icons">{{menu.icon}}</i>
                <h5 [routerLink]="[menu.url]" class="section-title">{{menu.title}}</h5>
            </div>
        </div>
    </div>
    <div class="user-container">
        <div class="item">
            <i class="material-icons">exit_to_app</i>
            <h5 class="section-title">Logout</h5>
        </div>
    </div>
</div>