@import '../../.././sass/colors.scss';
:host {
    .sidebar {
        background: $white-color;
        width: 250px;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        color: $black-color;
        div:first-child {
            img {
                width: 25px;
                margin-right: 15px;
            }
        }
        .divider {
            width: 100%;
            height: 3px;
            background: $primary-bg;
        }
        .menu-container {
            margin-top: 30vh;
            h2 {
                font-weight: 500;
                font-size: 15px;
                margin-left: 13px;
                font-weight: 300;
            }
            .item-menu {
                i {
                    font-size: 23px;
                }
                h5 {
                    margin: 0;
                    font-size: 15px;
                    padding: 14px 5px;
                    font-weight: 500;
                    color: $black-color;
                }
                .item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 0px 30px;
                    margin-bottom: 15px;
                }
                &:hover {
                    border-right: 3px solid $primary-brand-color;
                    i {
                        color: $primary-brand-color;
                    }
                    h5 {
                        color: $primary-brand-color;
                    }
                }
            }
            .active {
                border-right: 3px solid $primary-brand-color;
                i {
                    color: $primary-brand-color;
                }
                h5 {
                    color: $primary-brand-color;
                }
            }
        }
        .user-container {
            position: absolute;
            bottom: 30px;
            left: 30px;
            &>div {
                display: flex;
                align-items: center;
                i {
                    margin-right: 15px;
                }
            }
        }
    }
}