<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<button class="btn btn-warning" routerLink="/images">Back</button>
				</div>
				<form *ngIf="image" #imageForm="ngForm" (ngSubmit)="onSubmit(imageForm)">
					<input type="hidden" name="id" #id="ngModel" [(ngModel)]="imageId">
					<div class="card-body">
						<!-- TO UPDATE -->
						<div class="row">
							<div class="col-lg-4">
								<label for="author">Author:</label>
								<input type="text" class="form-control" name="author" #author="ngModel" [(ngModel)]="image.author">
							</div>
							<div class="col-lg-4">
								<label for="author">Category:</label>
								<select name="category" #category="ngModel" class="form-control select" [(ngModel)]="image.category">    
									<option *ngFor="let category of categories" [ngValue]="category.name" >
										{{ category.name }}
									</option>
								</select>
							</div>
							<div class="col-lg-4">
								<label for="author">Order:</label>
								<input type="text" class="form-control" name="order" #order="ngModel" [(ngModel)]="image.order">
							</div>
						</div>
						<br>
						<div>
							<img class="card-img-top" src="{{ publicURL | async }}" alt="Card image cap">
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-info" type="submit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
