<div class="wrapper">
    <app-header></app-header>
</div>

<div class="page-wrapper">
    <app-sidebar></app-sidebar>
    <div class="page-wrapper-content">
        <app-title></app-title>
        <router-outlet></router-outlet>
    </div>
</div>