@import '../.././sass/colors.scss';
:host {
    .page-wrapper {
        display: flex;
        background: $primary-bg;
    }
    .page-wrapper-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}