/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/dist/css/bootstrap.css';
// @import '~@ng-select/ng-select/themes/default.theme.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './sass/reset';
@import './sass/animate';
@import './sass/colors.scss';
@import './sass/media-queries';
// @import '~devextreme/dist/css/dx.common.css';
// @import '~devextreme/dist/css/dx.dark.css';
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

button {
    cursor: pointer;
}